*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content, .content-title{
   background-color: antiquewhite;
}

.background-bl{
    background-color: rgb(63, 85, 123);
    height: 100px;
}

.content-title{
    height: 100px;
}

/* HEADER */
header{
    background-color: rgba(44,62,80,255);
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header .font-size-11px{
    font-size: 11px;
}


/* MAIN */
#start, #about{
    background-color: rgba(26,188,156,255);
}

#start .content{
    height: 150px;
}

.text-black{
    color: black;
}

.start-content img{
    width: 100%;
    height: 150px;
}