*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.border-black{
    border: 1px solid black;
    color: white;
}

.background-blue{
    background-color: rgba(44,62,80,255);
    height: 50px;
}

.background-bl{
    background-color: rgb(63, 85, 123);
    height: 100px;
}

.background-green{
    background-color: rgba(26,188,156,255);
    height: 300px
}

.text-black{
    color: black;
}