*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background-blue{
    background-color: rgb(63, 85, 123);
}

.background-darkb{
    background-color: rgb(43, 63, 97);
}

.content-title{
    height: 100px;
}

/* HEADER */
header{
    background-color: rgba(44,62,80,255);
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.font-size-11px{
    font-size: 11px;
}


/* MAIN */
#start, #about{
    background-color: rgba(26,188,156,255);
}

.line::after, .line::before{
    content: '';
    width: 100px;
    height: 2px;
    display: inline-block;
    vertical-align: middle;
    background-color: black;
}

.line i{
    margin: 0 10px;
}

.text-black{
    color: black;
}

.start-content img{
    width: 100%;
    height: 170px;
}

#portfolio .container{
    padding: 40px;
}

#about .button-size{
    font-size: 10px;
}

#about .p-left{
    padding-left: 50px;
}

#about .p-right{
    padding-right: 50px;
}

#portfolio img{
    width: 100%;
}

#contact-me label{
    width: 30%;
}

#contact-me textarea{
    height: 130px;
}

#contact-me button{
    background-color: rgba(26,188,156,255);
    font-size: 13px;
    color: white;
    width: 60px;
}

/* FOOTER */
#info .content{
    font-size: 15px;
}

#info .content a{
    font-size: 15px;
    text-decoration: none;
    color: rgba(26,188,156,255);
}